<app-stagiaire-filter [filterDate]="stopDate" (onChangeFilter)="filterChanged($event)"></app-stagiaire-filter>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Birth</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <ng-container  *ngFor="let stagiaire of stagiaires">
            <!-- Methode ternaire (rend la methode changeView inutile)
            <tr *ngIf="(stopDate === null) ? true : stopDate.getDate() === 31 ? stagiaire.getBirthDate() > stopDate : stagiaire.getBirthDate() < stopDate"> -->
            <tr *ngIf="changeView(stagiaire)">
                <td>
                    <span appBubble [config]="bubbleConfig" (click)="onClick(stagiaire)">
                        {{ stagiaire | initials: {firstNameFirst: true, full: true} }} {{ stagiaire.getId() }}
                    </span>
                </td>
                <td>
                    {{ stagiaire.getLastName() | uppercase }}
                </td>
                <td>
                    {{ stagiaire.getFirstName() }}
                </td>
                <td>
                    {{ stagiaire.getBirthDate() | date: 'dd-MM-YYYY'}}
                </td>
                <td>
                    <button type="button" (click)="onRemove(stagiaire)">X</button>
                    <button type="button" (click)="onUpdate(stagiaire)">&#9854;</button>
                </td>
            </tr>
        </ng-container>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="8">Nb. items</td>
            <!-- <td>{{ getVisibleStagiaireNumber() }}</td> -->
        </tr>
    </tfoot>
</table>

<a [routerLink]="['/', 'stagiaire', 'add']">AjOuTEr</a>

