<form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <input matInput id="lastName" placeholder="Lastname" type="text" formControlName="lastName">
            <mat-error *ngIf="c['lastName'].errors && c['lastName'].touched">
                Le nom du stagiaire est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input matInput id="firstName" placeholder="Firstname" type="text" formControlName="firstName">
            <mat-error *ngIf="c['firstName'].errors && c['firstName'].touched">
                Le prénom du stagiaire est obligatoire.
            </mat-error>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input matInput id="email" placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="c['email'].errors && c['email'].touched">
                <span *ngIf="c['email'].hasError('required')">
                    Email obligatoire
                </span>
                <span *ngIf="c['email'].hasError('email')">
                    Email saisi dans un format non valide, t es nazzzzz
                </span>
            </mat-error>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input matInput id="phoneNumber" placeholder="Tel" type="tel" formControlName="phoneNumber">
            <mat-error *ngIf="c['phoneNumber'].errors && c['phoneNumber'].touched">
                <span *ngIf="c['phoneNumber'].hasError('required')">
                    Numéro de tel obligatoire
                </span>
                <span *ngIf="c['phoneNumber'].hasError('pattern')">
                    Numéro saisi dans un format non valide, t es nazzzzz
                </span>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="birthDate">
            <mat-hint>JJ-MM-YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
    </div>
    
    <!-- <div>
        <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput id="birthDate" type="date" formControlName="birthDate">
        </mat-form-field>       
    </div> -->

    <div>
        <button mat-raised-button color="primary" [disabled]="!stagiaireForm.valid">Ajouter stagiaire</button>
        <!-- <button mat-raised-button color="danger" type="button" (click)="goHome()"></button> -->
        <button mat-fab color="warn" type="button" (click)="goHome()">
            <mat-icon>🧐</mat-icon>
        </button>
    </div>
</form>